# Import

In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline #plot in notebook directly

In [8]:
data = pd.read_csv('interactive_data.csv')

In [9]:
data

,Unnamed: 0,Intent,Gender,Age,Race,Deaths,Population,Rate
0,1,None selected,None selected,None selected,None selected,33599,316299978,10.6
1,2,None selected,None selected,None selected,White,22079,197369634,11.2
2,3,None selected,None selected,None selected,Black,7765,38896382,20.0
3,4,None selected,None selected,None selected,Hispanic,3007,54049078,5.6
4,5,None selected,None selected,None selected,Asian/Pacific Islander,442,16315561,2.7
...,...,...,...,...,...,...,...,...
535,536,Unknown,Male,5,White,0,0,NaN
536,537,Unknown,Male,5,Black,0,0,NaN
537,538,Unknown,Male,5,Hispanic,0,0,NaN
538,539,Unknown,Male,5,Asian/Pacific Islander,0,0,NaN
539,540,Unknown,Male,5,Other,0,0,NaN

## Q1

In [47]:
total = data[data.Intent == 'None selected']

In [46]:
suicide = data[(data.Intent == 'Suicide')]
sum(suicide.Deaths)/sum(total.Deaths)

0.6267471753146496

## Q2

In [51]:
Msuicide = data[(data.Intent == 'Suicide') & (data.Gender == 'Male')]
Fsuicide = data[(data.Intent == 'Suicide') & (data.Gender == 'Female')]
sum(Msuicide.Deaths)/(sum(Msuicide.Deaths)+sum(Fsuicide.Deaths))

0.8624410860351643

## Q3

In [52]:
homicide = data[data.Intent =='Homicide']
sum(homicide.Deaths)/sum(total.Deaths)

0.34899978049860303

## Q4

In [55]:
Mhomicide1534 = data[(data.Intent == 'Homicide') & (data.Gender == 'Male') & (data.Age =='15 - 34') & (data.Race =='None selected')]
Mhomicide1534black = data[(data.Intent == 'Homicide') & (data.Gender == 'Male') & (data.Age =='15 - 34') & (data.Race =='Black')]
sum(Mhomicide1534black.Deaths)/sum(Mhomicide1534.Deaths)

0.6613496932515337

## Q5

In [57]:
Fhomicide = data[(data.Intent =='Homicide') & (data.Gender =='Female')]
Thomicide = data[(data.Intent =='Homicide') & (data.Gender =='None selected')]
sum(Fhomicide.Deaths)/sum(Thomicide.Deaths)

0.15280798260202125